#aes {
	color: green;
}

*{
	font-family: "Papyrus", monospace;
	font-size: 15px;
}

h1 {
	font-size: 50px;
}

h2 {
	text-transform: uppercase;
}

.offering-item {
	background-color: lightpink;
}

li[required]{
	border-color: skyblue;
	border-style: solid;
	border-width: 5px;
}

img + ul {
	list-style: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

body > section > h4 {
	letter-spacing: 15px;
}